<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/header", {links: links}) %>
    <h2>Messages</h2>
    <% if (locals.messages) { %>
    <ul>
      <% messages.forEach(message => { %>
      <li style="list-style-type: none">
        <span style="font-weight: bold"><%= message.username %>: </span>
        <%= message.text %>
        <a href="/<%= message.id %>"><button>Detail</button></a>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
